<%- include('../includes/head.ejs') %>
  <%- include('../includes/header.ejs') %>
  
  <title>Servicios</title>

  <p class="centrado">
    <img src="/resources/Logo_Clownvados.ico">
  </p>

         <section class="d-flex py-5">
          <div class="container align-self-center">
            <h2 class="display-4 fw-bold text-light">Nuestros servicios.</h2>
            <p class="lead mb-5 text-light">Conoce los servicios que tenemos disponibles para ti</p>
            <div class="row gx-5">
              <div class="col-lg-4 py-4">
                  <img src="/resources/P.Chirimia.jpg" class="img-fluid mb-4">
                  <div class="d-flex mb-4">
                    <p class="lead mb-0 fw-bold">Chirimía</p>
                  </div>
                  <p class="texto lead mb-4">Contrata la chirimía con la cantidad de personajes que desees y elegir sus diferentes temáticas e instrumentos.</p>
              </div>
              <div class="col-lg-4 py-4">
                  <img src="/resources/P.Comparsas.jpg" class="img-fluid mb-4">
                  <div class="d-flex mb-4">
                    <p class="lead mb-0 fw-bold">Comparsas</p>
                  </div>
                  <p class="texto lead mb-4">Contrata una comparsa donde puede elegir la cantidad y tipo de personajes, su temática y la distancia a recorrer.</p>
              </div>
              <div class="col-lg-4 py-4">
                  <img src="/resources/P.Personajes Itinerantes.jpg" class="img-fluid mb-4">
                  <div class="d-flex mb-4">
                    <p class="lead mb-0 fw-bold">Personajes itinerantes</p>
                  </div>
                  <p class="texto lead mb-4">Contrata tus personajes itinerantes para que negocio sea el centro de atención.</p>
              </div>
              <h4 class="display-5 fw-bold">Conoce nuestros distintos tipos personajes y shows</h4>
              <div class="col-lg-4 py-4">
                <img src="/resources/P.Malabares.jpg" class="img-fluid mb-4">
                <div class="d-flex mb-4">
                  <p class="lead mb-0 fw-bold">Malabaristas</p>
                </div>
                <p class="texto lead mb-4">Puedes contratar el show de malabaristas, donde podrás elegir qué tipo de malabares, vestimenta y cantidad de artistas.</p>
              </div>
            <div class="col-lg-4 py-4">
              <img src="/resources/Personajes de piso.jpg" class="img-fluid mb-4">
              <div class="d-flex mb-4">
                <p class="lead mb-0 fw-bold">Personajes de piso</p>
              </div>
              <p class="texto lead mb-4">Puedes contratar nuestros personajes “Clown” que estarán por el piso compartiendo las alegrías y animando al publico.</p>
            </div>
          <div class="col-lg-4 py-4">
            <img src="/resources/P.Zancos rebote.jpg" class="img-fluid mb-4">
            <div class="d-flex mb-4">
              <p class="lead mb-0 fw-bold">Zanqueros de rebote</p>
            </div>
            <p class="texto lead mb-4">Puedes contratar nuestros zanqueros de rebote, elegir su temática y la cantidad de artistas.</p>
          </div>
          <div class="col-lg-4 py-4">
          <img src="/resources/P.Show pulsadas.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
            <p class="lead mb-0 fw-bold">Pulsadas</p>
          </div>
          <p class="texto lead mb-4">Puedes contratar nuestro show de pulsadas donde dos personas realizaran maniobras en conjunto.</p>
        </div>
      <div class="col-lg-4 py-4">
        <img src="/resources/P.Zancos tradicionales.jpg" class="img-fluid mb-2">
        <div class="d-flex mb-4">
          <p class="lead mb-0 fw-bold">Zanqueros tradicionales</p>
        </div>
        <p class="texto lead mb-4">Puedes contratar nuestros zanqueros tradicionales, elegir su temática, altura y cantidad de personajes.</p>
      </div>
      <div>
        <h2 class="h21"><a href="Contacto" class="h21">¡Si quieres saber más o ver más fotos de algún producto ponte en contacto con nosotros!</a></h2>
      </div>
            </div>
          </div>
        </section>

        <%- include('../includes/footer.ejs') %>